body{
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 100vh;

	background-image: url('img11.jpeg');
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-position: center;
    background-size: cover;

	font-family: sans-serif;
	font-family: "VT323"
}

ul{
	flex: 100%;
	width:100%;
	width: 300px;
	height: 300px;
	padding: 0;
	margin: 0;
	margin-left: 20px;
	list-style: none;
	align-items: center;
  	justify-content: center;
}

input[type="text"]{
	border: none;
	border-bottom: 1px solid#ffffff;
	outline: none;
}
/*
input[type="text"]+label:befor{
	content:attr(palceholder);
	color: #898989;
}
*/
table {
 /* font-family: arial, sans-serif;*/
  	border-collapse: collapse;
  /*width: 100%;*/
  	flex: 100px;
  	margin: 10px;
  	width: 300px;
	color: white;
}

td, th {
  text-align: center;
  padding: 18px;
  width: 150px;
}

table,td,th{
	border: 1px solid white; 
	background: none; 
}

p{
font-weight: bold;
font-weight: 900;
font-size: 25px;
margin-top: 0;
margin-bottom: 15px;
color: #ffffff;
}

.bigbox{

/*	position: absolute;*/
	width: 1000px;
	height: 400px;
	margin: 150px;
	padding: 20px;
	border-radius: 20px;
	background: #ffffff;
	text-align: center;
	box-shadow: 0 10px 30px rgba(0,0,0,1);
  background-color: rgba(0,0,0, 0.8); /* Black w/opacity/see-through */
}

#corner{
  position: absolute;
  top: 8px;
  left: 16px;
}

.container{
	height: 1000px;
	width: 1000px;
	display: flex;
/*	flex-wrap: wrap;*/
	margin-top: 35px;
}
.container2{
	margin-top: 20px;
	float: left;
}
.container3{
	  	width:100%;
	  	flex: 100%;
}
.container4{
	  border-style: solid;
	  border-color: white;
	  width: 230px;
	  height: 250px;
	  padding: 10px;
	  margin: 10px;
}

.textbox{
	border-bottom: 1px solid #ffffff;
	float: left;
	overflow: hidden;
	margin-bottom: 10px;
}
.textbox input{
	border: none;
	outline: none;
	background: none;	
	font-size: 18px;
	color: white;
}

.redC{color: red;}
.blueC{color: #4d4dff;}
.greenC{color: green;}

.button{
  border: none;
  color: black;
  /*padding: 12px 25px;*/
  width: 100px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  transition-duration: 0.1s;
  cursor: pointer;
  border-radius: 10px;
  transition: 1.5s ease;

  padding: 10px;
  position: relative;
  text-shadow: 0 3px 5px rgba(0,0,0,0.6);
  white-space: nowrap;
  color: #fff;
  user-select: none;
  background: transparent;

 /*   font-family: 'VT323' , monospace;*/
  outline: none;
  background-color: #990033; 
  color: white; 
  border: 2px solid #990033;
}

.button2 {
width: 104px;
padding: 13px;
height: 62px;
}
.button3 {
width: 62px;
height: 62px;
padding: 13px;
margin-left: 20px;
margin-right: 20px;
}
.button:hover { 
	box-shadow: 0 9px 50px # 072846 inset, 0 9px 50px 0 #072846;
	box-shadow: 0 14px 18px 0 rgba(0,0,0,0.30), 0 17px 50px 0 rgba(0,0,0,0.19);

/*	color: black;
	border-color: #072846;
	background-color: rgba(255, 255, 102);   */
	/*	background-color:#fff;	*/
	/*  background-color: rgba(179, 0, 59);*/
	
}
.button3:hover{
	background-color: rgba(255, 0, 0);
	color: white;
}
/*
@media screen and (min-width: 700px) {
  .bigbox {margin-top: 200px;
  #main {margin-left: 216px;}
}*/